extends layout

block layout-content 
    div.View
        h1.Banner Application Banner
        div.Message 
            div.Title
                h3 Application Header 3
                h1 Application Header 1
            span.Details Subtext
        div.NavButtons
            a(href="/user")
                div.NavButton Click Here